select {
    height: 30px; 
    width: 50%;
    margin: 20px auto;
  }
  /* Styles for screens larger than 1023px */
  @media (min-width: 1024px) {
    select {
      width: 50%; 
      margin: 20px auto; 
    }
  }
  
  /* Styles for screens between 768px and 1023px */
  @media (min-width: 768px) and (max-width: 1023px) {
    select {
      width: 70%; 
      margin: 15px auto; 
    }
  }
  
  /* Styles for screens up to 767px */
  @media (max-width: 767px) {
    select {
      width: 90%; 
      margin: 10px auto;
    }
  }
  